
.div1{
  color:#f00;
}
.div2{
  color:#0f0;
  p{
    border:1px solid #4dea4d;
  }
}
.div3{
  color:#00f;
}
.img1:hover{
  border:1px solid #eee;
  margin:20px 0 0 50px;
  content:url(../images/b_flight2.jpg);
}

@keyframes mymove
{
  0% {margin-left:0px;transform: rotate(72deg)}
  25% {margin-left:200px;transform: rotate(144deg)}
  50% {margin-top:100px;transform: rotate(216deg)}
  75% {margin-left:0;transform: rotate(288deg)}
  100% {margin-top:0;transform: rotate(360deg)}
}
@-webkit-keyframes mymove /*Safari and Chrome*/
{
  0% {margin-left:0px;transform: rotate(72deg)}
  25% {margin-left:200px;transform: rotate(144deg)}
  50% {margin-top:100px;transform: rotate(216deg)}
  75% {margin-left:0;transform: rotate(288deg)}
  100% {margin-top:0;transform: rotate(360deg)}
}